body {
    font-family: Arial,'Microsoft JhengHei';
    margin: 0;
}

.login-box {
    position: relative;
    margin: 10px auto;
    width: 650px;
    height: 450px;
    background-color: #fff;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #59544f;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}

    .u-form-group input[type="email"] {
        width: 442px;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0;
        color: #59544f;
        font-size: 13px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .u-form-group input:focus {
        border-color: #358efb;
    }

    .u-form-group button {
        width: 380px;
        height: 40px;
        background-color: #5f0ac7;
        border: none;
        outline: none;
        color: #fff;
        font-size: 12px;
        font-weight: normal;
        text-align:center;
        margin-left:30px;

    }

.size {
    font-size: 22px;
}

.msg {
    font-size: 13px;
}