body {
    font-family: Arial,'Microsoft JhengHei';
}

.login-box {
    position: relative;
    margin: 70px auto;
    width: 900px;
    height: 1350px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.email-login{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
    font-size:35px;
}

    .u-form-group input[type="email"],
    .u-form-group input[type="password"] {
        width: 520px;
        height: 45px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        color: #59544f;
        font-size: 35px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }
        .u-form-group input[type="checkbox"] {
            background:#fff;
            color:#59544f;
            border-color:#59544f;
        }

    .u-form-group input:focus {
        border-color: #358efb;
    }

    .u-form-group button {
        width: 290px;
        height: 80px;
        background-color: #5f0ac7;
        border: none;
        outline: none;
        color: #fff;
        font-size: 35px;
        font-weight: normal;
    }
    .u-form-group a {
        font-size: 35px;
    }

    .u-form-group a:hover {
        color: #5f0ac7;
        text-decoration: none;
    }

.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #59544f;
    font-size: 14px;
}


.size {
    font-size: 75px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
}
