body {
    font-family: Arial,'Microsoft JhengHei';
}

.login-box {
    position: relative;
    margin: 10px auto;
    width: 650px;
    height: 450px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.lb-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 28px;
}

    .lb-header a {
        margin: 0 25px;
        padding: 0 20px;
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .lb-header .active {
        color: #029f5b;
        font-size: 18px;
    }

.social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}

    .social-login a {
        position: relative;
        float: left;
        width: calc(40% - 8px);
        text-decoration: none;
        color: #fff;
        border: 1px solid rgba(0,0,0,0.05);
        padding: 12px;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 3%;
        text-align: center;
    }

        .social-login a i {
            position: relative;
            float: left;
            width: 20px;
            top: 2px;
        }

        .social-login a:first-child {
            background-color: #49639F;
        }

        .social-login a:last-child {
            background-color: #DF4A32;
        }

.email-login, .email-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}

    .u-form-group input[type="email"],
    .u-form-group input[type="password"] {
        width: 400px;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        color: #59544f;
        font-size: 1rem;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .u-form-group input[type="text"] {
        width: 130px;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        color: #59544f;
        font-size: 1rem;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .u-form-group input:focus {
        border-color: #358efb;
    }

    .u-form-group button {
        width: 150px;
        height: 40px;
        background-color: #5f0ac7;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
    }

    .u-form-group a:hover {
        color: #5f0ac7;
        text-decoration: none;
    }

.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #59544f;
    font-size: 14px;
}

.repeat {
    width: 50%;
    text-align: left;
    color: #59544f;
    font-size: 14px;
    
}

.size {
    font-size: large;
}
