body {

}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #c1c0bc;
    text-align:center;
    font-size: 18pt;
    color:#fff;
    line-height:30px;
}
.fixedsize {
    font-size: 14pt;
}
.center {
   text-align:center;
}