body {
}
.fixed {
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #c1c0bc;
    text-align:center;
    font-size: 4vw;
    color:#fff;
    line-height:30px;
}
.fixedsize {
    font-size: 3vw;
}
.center {
   text-align:center;
}

div {
    font-family: Arial,'Microsoft JhengHei';
}

a:active {
    text-decoration: none;
    color: #5f0ac7;
}