body {
    background-image: url(/newbackground/分割1-01.png),url(/newbackground/分割2.png),url(/newbackground/分割3-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left,top;
}
.footer {
    margin-bottom: 55.2px;
    right: 0;
    width: 100%;
    text-align:center;
    font-size: 32pt;
    color:#110b0a;
    line-height:30px;
}
.fixedsize {
    font-size: 2.5vw;
}
.center {
   text-align:center;
}

div {
    font-family: Arial,'Microsoft JhengHei';
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
}

.picpad {
    font-size: 18px;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align:center;
}

.computerwidth {
    width:95%;
    padding:50px;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
}

.con {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
}

.actpic {
    margin-left:-15%;
    margin-right:-15%;
    position: center;
    width: 130%;
    overflow: hidden;
    text-align: center;
    padding:-15px;
}


