body {
    font-family: Arial,'Microsoft JhengHei';
    margin: 0;
}

.bg-box {
    position: relative;
    margin: 10px auto;
    margin-top: 60px;
    width: 650px;
    height: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}



.msg-box {
    color: #59544f;
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.00);
    width: 440px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px auto;
}

.select {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

    .select > a:link {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

    .select > a:hover {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

    .select > a:visited {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

tbody {
    text-align: left;
    border: none;
    text-decoration: none;
    border: none;
    border-spacing: 0;
    border-collapse: collapse
}

table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

tr td {
    text-align: left;
    background-color: none;
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: #59544f;
    padding-left: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

@media screen and (min-width: 790px) {

  
}

/*smaill*/

@media screen and (max-width: 789px) {
    .bg-box {
        margin: 35px auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 600px;
        width: 90%;
    }
  
}
