body {
    font-family: Arial,'Microsoft JhengHei';
    margin: 0;
}

.bg-box {
    position: relative;
    margin: 10px auto;
    margin-top: 60px;
    width: 650px;
    height: 480px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.msg {
    font-size: 13px;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
    text-align:center;
}

    .u-form-group input[type="password"] {
        height: 30px;
        width: 50%;
        outline: none;
        padding: 0 10px;
        color: #59544f;
        font-size: 13px;
        border: 1px solid #ddd;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .u-form-group input:focus {
        border-color: #358efb;
    }

.fix-submit {
    width: 300px;
    height: 40px;
    background-color: #59544f;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align:center;
}

.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.select {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

    .select > a:link {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

    .select > a:hover {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

    .select > a:visited {
        color: #110b0a;
        text-decoration: none;
        border: #5f0ac7 solid;
        height: 0px;
        border-width: 0px 0px 2px;
    }

hr {
    margin-top: 30px;
}

@media screen and (min-width: 790px) {
  
}

/*smaill*/

@media screen and (max-width: 789px) {
    .bg-box {
        margin: 35px auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 600px;
        width: 90%;
    }
    .login-submit {
        width: 35%;
        height: 40px;
        background-color: #5f0ac7;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
    }
   
}
