body {
    font-family: Arial,'Microsoft JhengHei';
    background-color: #e6caff;
}

.bg_box {
    position: relative;
    margin: 80px auto;
    width: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.web_banner {
    background-color:#fff; 
    height:50px;
}

.Logo {
    padding-left:8px;
    padding-top:5px;
    height:auto;
    max-width: 100%;
}

.process-img {
    width:500px;
    height:auto;
    margin:auto;
    display:block;
    margin-top:10px;
    margin-left:20px;
}

.content {
    position: relative;
    margin-top: 35px;
    margin-left: -1px;
    width: 100%;
    text-align: center;
    color: #59544f;
    font-size: 14px;
}

.cart {
    position: relative;
    margin-top: 95px;
    margin-left: 230px;
    width: 15%;
}

.button {
    position: relative;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 215px;
    margin-bottom: 50px;
    background-color: #59544f;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 0%;
    font-size: 14px;
}

.button:focus {
    outline: 0;
}


@media screen and (min-width: 790px) {

    .mobile_banner {
        display: none;
    }
}


@media screen and (max-width: 789px) {

    .web_banner {
        display: none;
    }

    .mobile_banner {
        background-color:#5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 14px; 
        height:40px;
        margin: 0px 18px;
    }
    
    .bg_box {
        margin: 35px 18px;
        margin-top: 0px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .process-img {
        display: none;
    }

    .content {
        margin-top: 30px;
        margin-left: -1px;
        font-size: 14px;
    }
    
    
    .cart {
        margin-top: 130px;
        margin-left: 115px;
        width: 22%;
    }
    
    .button {
        width: 40%;
        margin-top: 10px;
        margin-left: 91px;
        margin-bottom: 150px;
        font-size: 14px;
    }
}
