body {
    font-family: Arial,'Microsoft JhengHei';
    margin: 0;
}

.process-img {
    width:500px;
    height:auto;
    margin:auto;
    display:block;
    margin-top:20px;
}


.fix-submit {
    width: 110px;
    height: 30px;
    background-color: #9b3af6;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align:center;
}

.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}


table {
    border-spacing: 0;
    border-collapse: collapse; 
    margin-left:130px;
    margin-top:70px;
    margin-bottom:70px;
}

tr td{
        text-align: left;
        background-color: none;
        height:40px;
        width:200px;
        font-size: 14px;
        color: #59544f;
    }

hr {
    margin-top: 30px;
}

.banner {
    background: #fff;
    height: 50px;
    margin-bottom: 35px;
    margin-left: -20px;
    margin-right: -20px;
}


@media screen and (min-width: 790px) {
    .mobile_banner {
      display: none;
    }

    .bg-box {
        position: relative;
        margin: 10px auto;
        margin-top: 60px;
        width: 650px;
        height: 550px;
        background-color: #fff;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #59544f;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    }
}

/*smaill*/

@media screen and (max-width: 789px) {
    .bg-box {
        position: relative;
        top: 100%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        width: 90%;
        height: 600px;
        background-color: #ffffff;
        color: #59544f;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 3px 0px rgba(216, 181, 181, 0.33);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    }

    .mobile_banner {
        background-color: #5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        font-size: 23px;
        height: 50px;
    }

    .process-img {
       display:none;
    }


    .login-submit {
        width: 35%;
        height: 40px;
        background-color: #5f0ac7;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-left: 10%;
        margin-right:10%;
        margin-top: 120px;
        margin-bottom: 70px;
    }

    tr td {
        text-align: left;
        background-color: none;
        height: 40px;
        width: 70%;
        font-size: 14px;
        color: #59544f;
    }

    .banner {
        display:none;
    }
}
