body {
    font-family: Arial,'Microsoft JhengHei';
    background-color: #e6caff;
}

.bg_box {
    position: relative;
    margin: 80px auto;
    width: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.cross {
    margin-left: 450px;
    margin-top: 8px;
    outline-color: none;
}

.product_list {
    position: relative;
    margin: 0px 30px;
    background-color: 0;
    border: solid;
    border-width: 0.1px;
    border-color: #c1c0bc;
    color: #50544f;
    font-size: 13px;
    line-height: 18px;
}

.first_cross:focus {
    outline: 0;
}

.push{
    padding-top: 30px;
}

.plusandminus {
    border: none;
    outline-color: none;
}

.pro_img {
    width: 70px;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.web_text {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -25px;
}

.web_banner {
    background-color:#fff; 
    height:50px;
}

.Logo {
    padding-left:8px;
    padding-top:5px;
    height:auto;
    max-width: 100%;
}    

.process-img {
    width:500px;
    height:auto;
    margin:auto;
    display:block;
    margin-top:10px;
    margin-left:25px;
}


.quantity {
    position: absolute;
    color: #848378;
    margin-top: 25px;
    left: 47%;
    font-size: 15px;
}

.amount {
    position: absolute;
    color: #59544f;
    margin-top: 25px;
    left: 66%;
    font-size: 15px;
}

.undo_button {
    width: 100px;
    height: 30px;
    margin-top: 90px;
    margin-left: 30px;
    background-color: #ffffff;
    color: #9b3af6;
    border-width: 1.2px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.undo_button:focus {
    outline: 0;
}

.finish_button {
    width: 100px;
    height: 30px;
    margin-top: 90px;
    margin-left: 280px;
    margin-bottom: 20px;
    background-color: #9b3af6;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.finish_button:focus {
    outline: 0;
}

/* web version */
@media screen and (min-width: 790px) {

    .mobile_banner {
        display: none;
    }
    
    .mobile_text {
        display: none;
    }
}

/* phone version */
@media screen and (max-width: 789px) {

    .web_banner {
        display: none;
    }

    .mobile_banner {
        background-color:#5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 14px; 
        height:40px;
    }
    
    .bg_box {
        margin: 35px 18px;
        margin-top: 0px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .product_list {
        border-top:none;
        border-right: none;
        border-left: none;
        margin: -20px 0px;
        margin-bottom: 40px;
        height: 160px;
    }

    .cross {
        margin-left: 270px;
    }

    .pro_img {
        width: 90px;
        height: auto;
        margin-left: 0;
    }

    .web_text {
        display: none;
    }

    .mobile_text {
        margin-top: -135px;
        margin-left: 110px;
        font-size: 14px;
        line-height: 15px;
    }
    
    .process-img {
        display: none;
    }

    .quantity {
        margin-top: 15px;
        left: 22%;
        font-size: 14px;
    }
    
    .amount {
        margin-top: 15px;
        left: 54%;
        font-size: 14px;
    }

    .undo_button {
        margin-left: 5px;
        width: 32%;
        height: 36px;  
        font-size: 14px;
    }
    
    .finish_button {
        margin-top: 110px;
        margin-left: 94px;
        width: 32%;
        height: 36px; 
        font-size: 14px;
    }
    
}
