body {
    font-family: Arial,'Microsoft JhengHei';
    margin:0;
}

.bg-box {
    position: relative;
    margin: 80px auto;
    width: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 30px;
}


    .u-form-group input[type="text"], input[type="text"] {
        width: 140px;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 5px;
        color: #59544f;
        font-size: 14px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    .u-form-group input {
        width: 430px;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 5px;
        color: #59544f;
        font-size: 14px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

        .u-form-group input:focus {
            border-color: #358efb;
        }

.zipcode {
    width: 80px;
    height: 20px;
    color: #59544f;
    margin-right: 23px;
}

.county {
    width: 80px;
    height: 20px;
    color: #59544f;
    margin-right: 23px;
    margin-left: 25px;
}

.district {
    width: 80px;
    height: 20px;
    color: #59544f;
    margin-right: 23px;
    clear: none;
}

input {
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.email {
    font-size: 14px;
    float: left;
    margin-left: 90px;
}

.email-msg {
    font-size: 14px;
    margin-left: 155px;
}

hr {
    margin-top: 30px;
    color:#59544f;
}

.banner {
    background: #fff;
    height: 50px;
    margin-bottom: 35px;
    margin-left: -20px;
    margin-right: -20px;
}

.undo_button {
    width: 100px;
    height: 30px;
    margin-top: 90px;
    margin-left: 30px;
    background-color: #ffffff;
    color: #9b3af6;
    border-width: 1.2px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

    .undo_button:focus {
        outline: 0;
    }

.finish_button {
    width: 100px;
    height: 30px;
    margin-top: 90px;
    margin-left: 280px;
    margin-bottom: 20px;
    background-color: #9b3af6;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

    .finish_button:focus {
        outline: 0;
    }

.total {
    float: left;
    position: absolute;
    color: #848378;
    margin-top: 10px;
    left: 49%;
    font-size: 14px;
}

.title {
    float: left;
    position: absolute;
    color: #59544f;
    margin-top: 10px;
    left: 68%;
    font-size: 14px;
}

@media screen and (min-width: 790px) {

    .mobile_banner {
        display: none;
    }

    .process-img {
        width: 500px;
        height: auto;
        margin: auto;
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .local-3 {
        margin-left:90px;
    }

    .local-4 {
        margin-left:87px;
    }

    .local-address {
        margin-left: 88px;
    }

    .man-fix {
        margin-left: 19px;
    }

    .cell-fix {
        margin-left: 30px;
    }

    .phone-fix {
        margin-left: 35px;
        margin-right: 28px;
    }

    .address-fix {
        margin-bottom:30px;
    }

    .num-fix {
        margin-left: 10px;
        margin-right: 220px;
    }
    .float {
        float:left;
        width:auto;
        margin-left:89px;
    }
    
}

/*smaill*/

@media screen and (max-width: 789px) {

    .process-img {
        display: none;
    }

    .banner {
        display: none;
    }

    .local-3 {
        margin-left: 5%;
    }

    .local-4 {
        margin-left: 5%;
    }

    .local-address {
        margin-left: 5%;
    }

    .local-cell {
        margin-left: 5%;
    }

    .mobile_banner {
        background-color: #5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        height: 40px;
        margin: 0px 18px;
    }

    .bg-box {
        margin: 15px 18px;
        margin-top: 0px;
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .u-form-group input[type="text"] {
        width: 60%;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        color: #59544f;
        font-size: 14px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    input[type="text"] {
        width: 23%;
        height: 30px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        color: #59544f;
        font-size: 14px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        border-right: none;
        border-left: none;
        border-top: none;
    }

        .u-form-group input {
            width: 80%;
            height: 30px;
            outline: none;
            border: 1px solid #ddd;
            padding: 0 10px;
            color: #59544f;
            font-size: 14px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
            border-right: none;
            border-left: none;
            border-top: none;
        }

    .man-fix {
        margin-left: 5%;
    }

    .cell-fix {
        margin-left: 10%;
    }

    .phone-fix {
        margin-left: 10%;
    }

    .address-fix {
        margin-bottom: 30px;
        margin-left:5%;
    }

    .num-fix {
        margin-left: 2%;
    }

    .zipcode {
        width: 80px;
        height: 20px;
        color: #59544f;
        margin-right: 2%;
    }

    .county {
        width: 26%;
        height: 20px;
        color: #59544f;
        margin-right: 2%;
        margin-left: 4%;
    }

    .district {
        width: 26%;
        height: 20px;
        color: #59544f;
        margin-right: 2%;
        clear: none;
    }

    .email {
        font-size: 14px;
        float: left;
        margin-left: 5%;
    }

    .email-msg {
        font-size: 14px;
        margin-left: 29%;
    }

    .total {
        margin-top: 15px;
        left: 19%;
        font-size: 14px;
    }

    .title {
        margin-top: 15px;
        left: 54%;
        font-size: 14px;
    }

    .title-msg {
        font-size: 14px;
    }

    .float {
        margin-left:5%;
    }

    .undo_button {
        margin-left: 3%;
        width: 32%;
        height: 36px;
        font-size: 14px;
    }

    .finish_button {
        margin-top: 110px;
        margin-left: 29%;
        width: 32%;
        height: 36px;
        font-size: 14px;
    }
}
