body {
    font-family: Arial,'Microsoft JhengHei';
    margin: 0;
}

.bg-box {
    position: relative;
    margin: 80px auto;
    width: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.process-img {
    width:500px;
    height:auto;
    margin:auto;
    display:block;
    margin-top:20px;
}


.fix-submit {
    background-color: #9b3af6;
    position: relative;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 55px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 0%;
    font-size: 14px;
}

.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}


table {
    border-spacing: 0;
    border-collapse: collapse; 
    margin-left:130px;
    margin-top:40px;
    margin-bottom:20px;
}

tr td{
        text-align: left;
        background-color: none;
        height:40px;
        width:200px;
        font-size: 14px;
        color: #59544f;
    }

hr {
    margin-top: 30px;
}

.banner {
    background: #fff;
    height: 50px;
    margin-bottom: 35px;
    margin-left: -20px;
    margin-right: -20px;
}


@media screen and (min-width: 790px) {
    .mobile_banner {
      display: none;
    }
}

/*smaill*/

@media screen and (max-width: 789px) {
    .bg-box {
        margin: 35px 18px;
        margin-top: 0px;
        width: 89.5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .mobile_banner {
        background-color: #5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        height: 40px;
        margin: 0px 18px;
    }

    .process-img {
       display:none;
    }


    .fix-submit {
        width: 40%;
        margin-top: 65px;
        margin-left: 30%;
        margin-bottom: 47px;
        font-size: 14px;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-left: 10%;
        margin-right:10%;
        margin-top: 50px;
        margin-bottom: 45px;
    }

    tr td {
        text-align: left;
        background-color: none;
        height: 40px;
        width: 70%;
        font-size: 14px;
        color: #59544f;
    }

    .banner {
        display:none;
    }
}
