body {
    font-family: Arial,'Microsoft JhengHei';
    background-color: #e6caff;
}

.bg_box {
    position: relative;
    margin: 80px auto;
    width: 650px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59544f;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.web_banner {
    background-color:#fff; 
    height:50px;
}

.Logo {
    padding-left:8px;
    padding-top:5px;
    height:auto;
    max-width: 100%;
}    

.process-img {
    width:500px;
    height:auto;
    margin:auto;
    display:block;
    margin-top:10px;
    margin-left:25px;
}

.radio {
    position: relative;
    margin-top: 23px;
    margin-left: 110px;
    width: 60%;
    height: 9%;
    border-style: solid;
    border-color: #9b3af6;
    border-width: 1.2px;
    text-align: left;
    line-height: 40px;
    padding-left: 3%;
    color: #59544f;
    font-size: 15px;
    cursor: pointer;
}

.hr_style {
    border-color: #c1c0bc;
    border-style: solid;
    width: 80%;
    margin-top: 30px;
}

.quantity {
    position: absolute;
    color: #848378;
    margin-top: 10px;
    left: 43%;
    font-size: 15px;
}

.amount {
    position: absolute;
    color: #59544f;
    margin-top: 10px;
    left: 62%;
    font-size: 15px;
}

.undo_button {
    width: 100px;
    height: 30px;
    margin-top: 60px;
    margin-left: 30px;
    background-color: #ffffff;
    color: #9b3af6;
    border-width: 1.2px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.undo_button:focus {
    outline: 0;
}

.finish_button {
    width: 100px;
    height: 30px;
    margin-top: 60px;
    margin-left: 280px;
    background-color: #9b3af6;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.finish_button:focus {
    outline: 0;
}

/* web version */
@media screen and (min-width: 790px) {

    .mobile_banner {
        display: none;
    }    
    
    .card_radio {
        margin-top: 29px;
    }

    .webatm_radio {
        margin-top: 33px;
    }

}

/* phone version */
@media screen and (max-width: 789px) {

    .web_banner {
        display: none;
    }

    .mobile_banner {
        background-color:#5f0ac7;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 14px; 
        height:40px;
        margin: 0px 18px;
    }
    
    .bg_box {
        margin: 35px 18px;
        margin-top: 0px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .process-img {
        display: none;
    }

    .radio {
        margin-top: 55px;
        margin-left: 1px;
        width: 100%;
        height: 45%;
        font-size: 14px;
    }

    .card_radio {
        margin-top: 30px;
    }
    
    .webatm_radio {
        margin-top: 30px;
    }

    .hr_style {
        width: 100%;
        margin-top: 35px;
    }

    .quantity {
        margin-top: 15px;
        left: 24%;
        font-size: 14px;
    }
    
    .amount {
        margin-top: 15px;
        left: 56%;
        font-size: 14px;
    }

    .undo_button {
        margin-left: 5px;
        width: 32%;
        height: 36px;  
        font-size: 14px;
    }
    
    .finish_button {
        margin-top: 110px;
        margin-left: 94px;
        margin-bottom: 20px;
        width: 32%;
        height: 36px; 
        font-size: 14px;
    }
    
}
